.App {
  border: black solid 5px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  align-items: center;
}

.header {
  border: blue solid 4px;
  display: flex;
  height: 20vh;
}

.home {
  border: white solid 4px;
  display: flex;
  width: 95%;
  justify-content: space-around;
}

#root {
  background-image: url(https://i.imgur.com/FE6tJhr.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.links {
  height: 100px;
}

.video {
  margin: auto;
  border: 15px solid rgb(8, 8, 8);
  border-radius: 30px;
  width: 50%;
}

.spray {
  height: 150px;
}

.crack {
  height: 75px;
}
