
.App {
  width: 100%;
  
}



#root {
  background-image: url(https://i.imgur.com/FE6tJhr.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position:  center center;

}
  
.orwel-logo {
  height: auto;
  width: clamp(150px, 100%, 350px);
 
}

.links {
  height:100px;
}

.nav-bar {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content:flex-end;
  align-items:flex-start;
  align-content:space-between;
}

#link2 {
  padding-left: 100px;
  padding-right: 100px;
}
   
  
.character-box {
  display: flex;
  flex-flow: column nowrap;
}
  
.character-image {
height: 375px;
}

.video {
  margin: auto;
  border: 15px solid rgb(8, 8, 8);
  border-radius: 30px;
  
}
.video-responsive {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}

.spray {
  height: 150px;
}

.crack {
  height:75px;
}
.detailsName {
  color: black;
  font-family: 'Allerta Stencil', sans-serif;
  font-size: 30px;
}
.details {
  color: black;
  font-family: 'Allerta Stencil', sans-serif;
  font-size: 20px;
  

}

.footer {
  font-family: 'Allerta Stencil', sans-serif;
  padding-top: 40px;
  padding-bottom: 15px;
  text-align: center;

}