.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  align-items: center;
}

.header {
  display: flex;
  height: 20vh;
}

.home {
  display: flex;
  width: 95%;
  justify-content: space-around;
}

.links {
  height: 100px;
}

.video {
  border: 15px solid black;
  border-radius: 15px;
  width: 50%;
  height: 90%;
  margin-top: 25px;
}

.spray {
  height: 275px;
}

.crack {
  height: 75px;
}

@media screen and (max-device-width: 375px) {
  .App {
    height: 100%;
  }
  .home {
    flex-direction: column;
    align-items: center;

  }
  .video {
    width:100%;
    height: 100%;


  }
}
