.about {
  font-family: 'Permanent Marker', cursive;  
  font-size: 25px;
  color: white;
  width: 40%;
}
#about {
  color: rgb(37, 42, 91);
}
@media screen and (max-device-width: 480px) {
  #about {
    text-align: center;

  }
  .about{
width: 95%; 
text-align: center;

 }
  
}