

.details-container {
  border: rgb(60, 4, 4) solid 4px;
  display: flex;
  height: 100%;
  width: 95%;
  justify-content: space-around;

}

.character-image {
  height: 325px;
  margin-top: 25px;
  margin-left: 100px;
  }
  
  .detailsName {
  color: black;
  font-family: 'Permanent Marker', cursive;  
  font-size: 50px;

}
  

  .detailsFields {
    color: black;
    font-family: 'Permanent Marker', cursive;  
    font-size: 20px;
    margin-left: 200px;    
    align-items: center; 
    width: 40%;
    
  }

 .trashCan {
  height: 125px;
  /* width: 30%; */
    /* height: 100%; */
    margin-top: 135px;
  } 
  /* .trash {
    width: 30%;
    height: 100%;
    margin-top: 135px;
  } */


  
    
  