.details-container {
  display: flex;
  height: 70%;
  width: 95%;
  justify-content: space-around;
  border: rgb(253, 251, 251) solid 15px;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url(https://i.imgur.com/NmDTTCz.png);
}

.character-image {
  height: 250px;
  margin-top: 25px;
  border: cyan solid 4px;
}

.image-container {
  border: rgb(234, 255, 0) solid 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.detailsName {
  color: rgb(255, 255, 255);
  font-family: "Permanent Marker", cursive;
  font-size: 50px;
  /* border: peru solid 4px; */
  text-align: center;
}

h3 {
  color: rgb(242, 255, 0);
}

.detailsFields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  color: white;
  font-family: "Permanent Marker", cursive;
  font-size: 20px;
  align-items: center;
  width: 50%;
  height: 100%;
  /* border: orchid solid 5px; */
  padding-top: 0px;
}

.trashCan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 125px;
  /* border: rgb(242, 255, 0)solid 4px; */
  width: 100%;
}

@media screen and (max-width: 480px) {
  .details-container {
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }
}
