ul {
  list-style-type: none;
}

.nav-bar {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

@media screen and (max-width: 480px) {
  .nav-bar {
    width: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .links {
    width: 50%;
    height: 25%;
  }
}
