ul {
  list-style-type: none;
}

.nav-bar {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

#new-character {
  height: 125px;
}

#recipe{
  padding-top: 9px;
  height:140px;
}


@media screen and (max-width: 480px) {
  .nav-bar {
    width: 65%;
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }


}
