.recipes-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
;
}

.title {
  text-align: center;
  font-family: 'Permanent Marker', cursive; 
  font-size: 50px; 
  color:  rgb(37, 42, 91);
}

.recipe-name {
  font-family: 'Permanent Marker', cursive; 
  font-size: 25px; 
  color:  white;
}

.recipe-image {
  height: 200px;
  margin-bottom: 50px;
  align-items: center;
}

.recipe-image:hover {
  transform: scale(1.2);
}

.image1{
  margin-left: 40px;
}





@media screen and (max-width: 480px) {
  .recipes-container
   {
    width: 50%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }
}

